<header class="hero">
    <div class="textosHero">
        <h1>Welcome to Target Language</h1>
        <p>Servicios de traducci칩n</p>
    </div>
    <div class="svg-hero" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
        </svg>
    </div>
    </header>
    <!-- Fin header -->

    <!-- Inicio footer (login) -->
    <footer>        
        <div class="contenedor-login">
            <form action="/admin/login" class="form" method="post">
                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input type="text" class="form-control" name="usuario"id="usuario" aria-describedby="emailHelp" name="usuario">                    
                    <label for="password">Contrase침a</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="btn-enviar">
                    <button type="submit" class="btn-btn-primary input">Iniciar sesi칩n</button>
                </div>                
            </form>
            {{#if error}}
                <p>Usuario o contrase침a incorrectos</p>
            {{/if}}
        </div>    
    </footer>
    <!-- Fin footer -->
</header>    